h2{
    font-size: 16pt;
    font: arial;
    color: blue;
    font-style: italic; 
}
.container{
    width: 600px;
    height: 280px;
    border: 2px solid blue;
    padding: 5px;
    background-color: #F0F0F0;
}
div:nth-child(2){
    background-color: yellow;
    float: left;
    width: 200px;
    padding: 10px;
    margin: 0px 10px 0px 0px;
}
div:nth-child(4){
    background-color: orange;
    position: absolute 110px 200px;
    width: 200px;
    padding: 10px;
}
div:nth-child(5){
    background-color: rgb(255,80,0);
    color: white;
    float: right;
    padding: 10px;
    margin: 20px 40px 0px 0px;
    width: 200px;
}