:root {
   --table-color: forestgreen;
   --row-bg-color: honeydew;
   font-family: Calibri, Myriad;
}
   
/* Your solution goes here */
#game-table {
   border: 2px solid var(--table-color);
   text-align: center;
   height: 200px;
   width: 400px;
}
/*descendent selector that targets <caption> inside the <table> element*/
table caption {
   text-transform: uppercase;
   background-color: var(--table-color);
   color: white;
   padding: 10px;
}
/*A pseudo-class selector :nth-child(even) for <tr> should:*/
tr:nth-child(even) {
   background-color: var(--row-bg-color);
}